<tabel>
  <caption class="a11y-text">
    The Guardians Gameboard: Arthursville
  </caption>
  <tr>
    <td>
      <figure>
        <img src="#" alt="Home">
        <figcaption>
          <details>
            <summary>
              Home
            </summary>
            <ol>
              <li>
                Draw 2 cards.
              </li>
              <li>
                Discard 2 cards.
              </li>
              <li>
                Trash up to 2 cards in your discar pile.
              </li>
            </ol>
          </details>
        </figcaption>
      </figure>
    </td>
    <td>
      <figure>
        <img src="#" alt="Candy Shop">
        <figcaption>
          <details>
            <summary>
              Candy Shop
            </summary>
            <p>+3 energy</p>
          </details>
        </figcaption>
      </figure>
    </td>
    <td>
      <figure>
        <img src="#" alt="Zoo">
        <figcaption>
          <details>
            <summary>
              Zoo
            </summary>
            <ol>
              <li>
                Look at the top 5 cards of your deck.
              </li>
              <li>
                Put one in your hand and discard the rest.
              </li>
              <li>
                Discard a card from your hand.
              </li>
            </ol>
          </details>
        </figcaption>
      </figure>
    </td>
    <td>
      <figure>
        <img src="#" alt="Hill">
        <figcaption>
          <details>
            <summary>
              Hill
            </summary>
            <p>+5 damage</p>
          </details>
        </figcaption>
      </figure>
    </td>
  </tr>
  <tr>
    <td rowspan="2">span card</td>
    <td>
      <figure>
        <img src="#" alt="Game Store">
        <figcaption>
          <details>
            <summary>
              Game Store
            </summary>
            <ol>
              <li>
                Look at the top 5 cards of the <strong>Guardian Supply</strong>.
              </li>
              <li>
                <strong>Gain</strong> one in your hand and trash the rest.
              </li>
              <li>
                Discard a card from your hand
              </li>
            </ol>
          </details>
        </figcaption>
      </figure>
    </td>
    <td>
      <figure>
        <img src="#" alt="Garage">
        <figcaption>
          <details>
            <summary>
              Garage
            </summary>
            <ol>
              <li>
                <strong>Gain</strong> 3 cards from the <strong>Guardians Supply</strong> into your hand.
              </li>
              <li>
                Discard 3 cards from your hand.
              </li>
            </ol>
          </details>
        </figcaption>
      </figure>
    </td>
    <td>
      <figure>
        <img src="#" alt="School">
        <figcaption>
          <details>
            <summary>
              School
            </summary>
            <ol>
              <li>
                Draw 3 cards.
              </li>
              <li>
                Discard 3 cards.
              </li>
            </ol>
          </details>
        </figcaption>
      </figure>
    </td>
  </tr>
  <tr>
    <td>
      <figure>
        <img src="#" alt="Field">
        <figcaption>
          <details>
            <summary>
              Field
            </summary>
            <ol>
              <li>
                Select up to 2 monsters on any location(s) and <strong>Retreat</strong> them.
              </li>
              <li>
                Invade monsters from the wave of your choice face-down.
              </li>
              <li>
                At the start of the <strong>Battle Phase</strong>, flip them over.
              </li>
            </ol>
          </details>
        </figcaption>
      </figure>
    </td>
    <td>
      <figure>
        <img src="#" alt="Playground">
        <figcaption>
          <details>
            <summary>
              Playground
            </summary>
            <ol>
              <li>
                You may ignore <strong>Overrun</strong> effects.
              </li>
              <li>
                Trash up to 4 cards in your discard pile.
              </li>
            </ol>
          </details>
        </figcaption>
      </figure>
    </td>
    <td>
      <figure>
        <img src="#" alt="Museum">
        <figcaption>
          <details>
            <summary>
              Museum
            </summary>
            <ol>
              <li>
                Draw a card from the <strong>Monster Supply</strong> and keey it secret.
              </li>
              <li>
                At the start of your <strong>Battle Phase</strong> place this monster at a location with another non-boss monster, even if normally there isn&rsquo;t enough room.
              </li>
            </ol>
          </details>
        </figcaption>
      </figure>
    </td>
  </tr>
</tabel>